* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #050010, #000);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #ff00ff;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #8f00ff, #ff00cc);
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: center;
}

nav h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

nav h1 span {
    color: #00ffff;
}

.menu a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}

.menu a:hover {
    color: #00ffff;
}

.hero-text {
    text-align: center;
    margin-top: 140px;
}

.hero-text h2 {
    font-size: 55px;
    text-shadow: 0 0 20px #ff00ff;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
}

.hero-text button {
    padding: 15px 50px;
    border: none;
    border-radius: 40px;
    background: #000;
    color: #ff00ff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 20px #ff00ff;
    transition: 0.4s;
}

.hero-text button:hover {
    background: #ff00ff;
    color: black;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 120px 40px;
}

.box {
    width: 260px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    text-align: center;
    box-shadow: 0 0 30px rgba(255,0,255,0.2);
    transition: 0.4s;
}

.box:hover {
    transform: translateY(-20px) scale(1.05);
}

.showcase {
    text-align: center;
    padding: 100px 20px;
}

.showcase h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.gallery img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 30px #ff00ff;
    transition: 0.4s;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 30px;
    background: black;
}

